// Colors
$header: hsl(217, 16%, 45%);
$d-text: hsl(229, 25%, 31%);
$s-text: hsl(229, 64%, 46%);

// Gradients
$grad-paper: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$grad-scissor: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$grad-rock: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
