html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  background-image: radial-gradient(#1f3756, #141539);
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2.875rem 0 0;
  position: relative;
}

button {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.rock {
  background-image: -webkit-gradient(linear, left top, right top, from(#dc2e4e), to(#dd405d));
  background-image: linear-gradient(to right, #dc2e4e, #dd405d);
  left: 252px;
  top: 288px;
}

.paper {
  background-image: radial-gradient(#4865f4, #5671f5);
  left: 112px;
  top: 61px;
}

.scissor {
  background-image: -webkit-gradient(linear, left top, right top, from(#ec9e0e), to(#eca922));
  background-image: linear-gradient(to right, #ec9e0e, #eca922);
  left: 390px;
  top: 61px;
}

.final-left {
  left: -4rem !important;
}

.final-right {
  left: 79% !important;
}

.shadow-winner {
  -webkit-animation: shadow 2s ease infinite;
          animation: shadow 2s ease infinite;
}

div.show-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  border-radius: 1rem;
  border: 3px solid #606e85;
  height: 9.625rem;
  margin: 0 auto;
  padding: 1.875rem 2.1875rem;
  width: 703px;
}

.score-container {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  color: #2a46c0;
  font-weight: 700;
  letter-spacing: 3px;
  height: 7.125rem;
  width: 9.375rem;
}

.score {
  color: #3b4363;
  font-size: 64px;
  letter-spacing: normal;
}

.play-container {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  height: 35.375rem;
  margin: auto;
  position: relative;
  width: 703px;
}

.play-container::before {
  content: "";
  background: url("images/bg-triangle.svg") no-repeat center center;
  height: inherit;
  opacity: 1;
  position: absolute;
  width: inherit;
}

.play-container.fadeOut::before {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
}

.pick-text {
  opacity: 0;
  padding: 74px 90px 0;
  position: absolute;
  width: 100%;
}

.pick-text.show-text {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
}

.house-pick {
  background-color: #182341;
  border-radius: 100%;
  height: 14rem;
  left: 59%;
  opacity: 0;
  position: absolute;
  top: 12.25rem;
  width: 14rem;
}

.house-pick.show-text {
  -webkit-transition: opacity 1s ease 0.5s, left 1s ease;
  transition: opacity 1s ease 0.5s, left 1s ease;
  opacity: 1;
}

.circle {
  border-radius: 100%;
  -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(187, 187, 187, 0.6), 0 0 0 0 rgba(187, 187, 187, 0.6);
          box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(187, 187, 187, 0.6), 0 0 0 0 rgba(187, 187, 187, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 12.625rem;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 12.625rem;
  z-index: 5;
}

.circle.hideChoices {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  pointer-events: none;
}

.circle.go-left {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  left: 4rem;
  top: 13rem;
  -webkit-transform: scale(1.49);
          transform: scale(1.49);
}

.circle.go-left:hover {
  -webkit-animation: none;
          animation: none;
}

.circle.circle.go-right {
  position: static;
  -webkit-transform: scale(1.49);
          transform: scale(1.49);
}

.circle.circle.go-right:hover {
  -webkit-animation: none;
          animation: none;
}

.circle::before {
  content: "";
  border-radius: 100%;
  border: 1px solid rgba(55, 55, 55, 0.2);
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 0.5rem 0 rgba(107, 107, 107, 0.3);
          box-shadow: inset 0 0.5rem 0 rgba(107, 107, 107, 0.3);
  height: 9.625rem;
  position: absolute;
  width: 9.625rem;
}

.circle:hover {
  -webkit-animation: pump-shadow 2s ease infinite;
          animation: pump-shadow 2s ease infinite;
}

.circle:hover img {
  -webkit-animation: shake-up 2s ease infinite;
          animation: shake-up 2s ease infinite;
}

.circle img {
  pointer-events: none;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 5;
}

.choice-image {
  height: 75px;
  width: 65px;
}

.result {
  color: #f5f5f5;
  font-size: 3.375rem;
  font-weight: 700;
  left: 50%;
  letter-spacing: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 45%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.result button {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  color: #b64058;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  height: 48px;
  margin-top: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 220px;
}

.result button:hover {
  -webkit-animation: pump-button 1s ease infinite;
          animation: pump-button 1s ease infinite;
}

.result.show {
  -webkit-transition: opacity 0.5s ease 1.5s;
  transition: opacity 0.5s ease 1.5s;
  opacity: 1;
  pointer-events: all;
}

.rule-button {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 3px;
  height: 42px;
  margin: 0 2rem 0 auto;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  width: 130px;
}

.rule-button:hover > span:nth-of-type(1) {
  -webkit-animation: letter-wave 1s ease infinite;
          animation: letter-wave 1s ease infinite;
}

.rule-button:hover > span:nth-of-type(2) {
  -webkit-animation: letter-wave 1s ease 0.2s infinite;
          animation: letter-wave 1s ease 0.2s infinite;
}

.rule-button:hover > span:nth-of-type(3) {
  -webkit-animation: letter-wave 1s ease 0.4s infinite;
          animation: letter-wave 1s ease 0.4s infinite;
}

.rule-button:hover > span:nth-of-type(4) {
  -webkit-animation: letter-wave 1s ease 0.6s infinite;
          animation: letter-wave 1s ease 0.6s infinite;
}

.rule-button:hover > span:nth-of-type(5) {
  -webkit-animation: letter-wave 1s ease 0.8s infinite;
          animation: letter-wave 1s ease 0.8s infinite;
}

.rule-button:hover {
  border-color: #b3b3b3;
}

.modal_container {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal {
  background-color: #FFFFFF;
  border-radius: 8px;
  height: 415px;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  width: 398px;
}

.modal h2 {
  color: #3b4363;
  font-size: 30px;
}

.modal .close-rule {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.modal .close-rule:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.modal .image-rule {
  display: block;
  margin: auto auto 0;
  pointer-events: none;
}

.modal .close-rule-bottom {
  bottom: 2rem;
  left: 2rem;
  position: absolute;
  visibility: hidden;
}

@-webkit-keyframes pump-shadow {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
  }
}

@keyframes pump-shadow {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
  }
}

@-webkit-keyframes shadow {
  65% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
  }
}

@keyframes shadow {
  65% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 1.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(99, 99, 99, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
            box-shadow: inset 0 -0.55rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 2.5rem rgba(99, 99, 99, 0), 0 0 0 3.5rem rgba(187, 187, 187, 0);
  }
}

@-webkit-keyframes shake-up {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10%, 30%, 50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes shake-up {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10%, 30%, 50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes pump-button {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes pump-button {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes letter-wave {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

@keyframes letter-wave {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

@-webkit-keyframes hand-steal {
  50% {
    top: 24px;
  }
  70% {
    top: -59px;
  }
}

@keyframes hand-steal {
  50% {
    top: 24px;
  }
  70% {
    top: -59px;
  }
}

@-webkit-keyframes hand-steal-bottom {
  50% {
    left: 22px;
  }
}

@keyframes hand-steal-bottom {
  50% {
    left: 22px;
  }
}

@media (max-width: 955px) {
  body {
    padding: 2.875rem 1.875rem;
  }
  .heading {
    height: 6.25rem;
    padding: 0 2.1875rem;
    width: 100%;
  }
  .heading > img {
    width: 80px;
  }
  .score-container {
    font-size: 12px;
    height: 4.5rem;
    letter-spacing: 0;
    width: 5rem;
  }
  .score {
    font-size: 38px;
  }
  .pick-text {
    padding: 74px 3rem 0;
  }
  .circle.go-left, .circle.go-right {
    -webkit-transform: scale(1.1) !important;
            transform: scale(1.1) !important;
  }
  .circle.final-left {
    left: 0rem !important;
  }
  .house-pick.final-right {
    left: 69% !important;
  }
  .rule-button {
    margin: 0 auto 2rem;
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 760px) {
  .play-container {
    font-size: 1rem;
    letter-spacing: 0;
    width: 375px;
  }
  .play-container::before {
    background-size: 191px 169px;
  }
  .pick-text {
    padding: 0 2rem;
    top: 16.75rem;
  }
  .paper {
    left: 2rem;
    top: 8rem;
  }
  .scissor {
    left: 12.875rem;
    top: 8rem;
  }
  .rock {
    left: 7.5rem;
    top: 272px;
  }
  .circle {
    -webkit-box-shadow: inset 0 -0.35rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(187, 187, 187, 0.6), 0 0 0 0 rgba(187, 187, 187, 0.6);
            box-shadow: inset 0 -0.35rem 0 0 rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(187, 187, 187, 0.6), 0 0 0 0 rgba(187, 187, 187, 0.6);
    height: 8.25rem;
    width: 8.25rem;
  }
  .circle::before {
    -webkit-box-shadow: inset 0 0.35rem 0 rgba(107, 107, 107, 0.3);
            box-shadow: inset 0 0.35rem 0 rgba(107, 107, 107, 0.3);
    height: 6.25rem;
    width: 6.25rem;
  }
  .circle.go-left {
    left: 1rem;
    top: 7rem;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .circle.go-right {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .choice-image {
    height: auto;
    width: auto;
  }
  .house-pick {
    height: 8.25rem;
    top: 7rem;
    width: 8.25rem;
  }
  .house-pick.final-right {
    -webkit-transition: opacity 1s ease 0.5s, left 1s ease, -webkit-transform 1s ease;
    transition: opacity 1s ease 0.5s, left 1s ease, -webkit-transform 1s ease;
    transition: opacity 1s ease 0.5s, left 1s ease, transform 1s ease;
    transition: opacity 1s ease 0.5s, left 1s ease, transform 1s ease, -webkit-transform 1s ease;
    left: 100% !important;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .result {
    top: 23rem;
  }
}

@media (max-width: 410px) {
  .modal_container {
    padding: 0 1rem;
  }
  .play-container {
    width: 335px;
  }
  .paper {
    left: 1rem;
  }
  .scissor {
    left: 10.875rem;
  }
  .rock {
    left: 6rem;
  }
}
/*# sourceMappingURL=style.css.map */